<h3>About Me</h3>
<ul>
  <li>
    I am a 4th year B.Tech student specializing in Computer Science and
    Engineering (Cyber Security).
  </li>
  <li>
    Currently studying at Mohan Babu University, with a strong academic record
    and a CGPA of 9.45.
  </li>
  <li>
    assionate about web development and problem-solving, with experience
    building full-stack applications.
  </li>
</ul>

<h3>Skills</h3>
<li>
  <b>Programming Languages:</b> Java, Python Frontend: HTML,<br />
  </li>
 <li> <b>Web Dev:</b>
 CSS, JavaScript, EJS Backend: Node.js, Express.js  <br /></li>
  <li><b>Database:</b> MongoDB, SQL Other<br /> </li>
  <li><b>Tools:</b> Git, GitHub, Postman <br /> </li>
</li>
